/* *{
    background-color: cyan;
} */
body{
    background-color: aqua;
}
h1,h2{
    color: blueviolet;
}
button{
    font-size: 30px;
    background-color: blueviolet;
}
#signup{
    background-color: red;
    color: gold;
}
span{
    color: blue;
}
.tag{
background-color: royalblue;
color: lightpink;
font-size: 30px;
}
span a{
    color: brown;
}