h2{
    color: teal;
    background-color: rgb(221, 160, 221);
  
}
button{
    color: magenta;
    background-color: cyan;

}
p{
    color: olive;
    background: orange;
}
body{
    background-color: white;
}