h1{
    text-align: center  ;
    width: 50%;
    font-weight: normal;
    text-decoration: #ff0000ac underline wavy;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}