@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.circle-checkmark {
    font-family: sans-serif;
    background: green;
    color: white;
    padding: 1px 4px;
    border-radius: 50%;
  }
  body{
    background-color: antiquewhite
  }
  button{
    color: white;
    background-color: #229FF1;
    border-radius: 5px;
    border-style: hidden;
    width: 80px;
  }
  .hero{
    background-position: center;
    background-size: cover;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul li {
    display: inline-block;
    
  }
  footer h3{
    display: inline-block;
    
  }
